%script{type: "text/javascript", src:"https://www.google.com/jsapi"}
= javascript_include_tag "pie_chart"
%h3
  Todo Snapshot by Developers
%table.table
  - deve_data = @data.group_by{|t|"#{t.d_id}_#{t.state}"}
  - admin_dash_states.each do |i,state|
    %tr
      %td
        = state ? t("states.#{state}") : "Status"
      - @developers.each do |dev|
        %td
          -if state
            - dev_state = deve_data["#{dev.id}_#{state}"]
            - if dev_state
              - dev_state.each do |ds| 
                %span.devTodo
                  =ds.todo_name
          -else
            = dev.name
%h3
  Todo Snapshot by Projects            
%table.table
  - deve_data = @data.group_by{|t|"#{t.p_id}_#{t.state}"}
  - admin_dash_states.each do |i,state|
    %tr
      %td
        = state ? t("states.#{state}") : "Status"
      - @projects.each do |p|
        %td
          -if state
            - dev_state = deve_data["#{p.id}_#{state}"]
            - if dev_state
              - dev_state.each do |ds| 
                %span.devTodo
                  =ds.todo_name
          -else
            = p.name
#piechart{style: "width:900px;hieght:500px"}
:coffeescript
  chart = new ApiChart([["Task", "Hours per Day"], ["Work", 11], ["Eat", 2], ["Commute", 2], ["Watch TV", 2], ["Sleep", 7]])
